<div class="container mb-5 bg-light rounded-3">
  <form class="postButton visible">
    <button type="submit" class="btn btn-primary ms-5 mt-5 mb-5">Create a new blog post!</button>
  </form>
</div>

<div class="container rounded-3 bg-light p-3 invisible" id="postContainer">

  <form id="formSubmit">
    <div class="mb-3">
      <label class="form-label text-dark">Title:
      </label>
      <input type="text" class="form-control" id="title-input" placeholder="Enter your title"/>
    </div>

    <div class="mb-3">
      <label class="form-label text-dark">Post:
      </label>
      <input type="text" class="form-control" id="blogtext-input" placeholder="Enter your text"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

<script src="/assets/js/dashboard.js">
</script>