<div class="container">
    <form id="signup-form">
      <div>
        <label for="name">Name</label>
        <input type="text" id="name-signup" name="name" required />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email-signup" name="email" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password-signup" name="password" required />
      </div>
      <button class="regBtn waves-effect waves-light btn" type="submit">
        Register
      </button>
    </form>
    <form action="/login" method="get">
      <button class="waves-effect waves-light btn">Login</button>
    </form>
  </div>

<script src="../public/js/register.js"></script>
