<div class="container bg-light p-3 rounded-3">
  <form id="register-form">
    <h2 class="text-Dark">Register here!</h2>
    <div class="mb-3 col-md-4 text-light">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" id="name-register" />

    </div>
    <div class="mb-3 col-md-4 text-light">
      <label class="form-label">Email address</label>
      <input type="email" class="form-control" id="email-register" />

    </div>
    <div class="mb-3 col-md-4">
      <label class="form-label text-light">Password</label>
      <input type="password" class="form-control" id="password-register" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>

<script src="/assets/js/register.js"></script>