<div class="container">
  <form id="formHandler">
    <h2 class="text-light">Sign Up!</h2>
    <div class="mb-3 col-md-4 text-light">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" id="username-input" />

    </div>
    <div class="mb-3 col-md-4 text-light">
      <label class="form-label">Email address</label>
      <input type="email" class="form-control" id="email-input" />

    </div>
    <div class="mb-3 col-md-4">
      <label class="form-label text-light">Password</label>
      <input type="password" class="form-control" id="pw-input" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>

<script src="/public/js/signup.js"></script>
